# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.lcov

# Production builds
dist
build
out
.next

# Turbo
.turbo

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*
.logs

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.swp
*.swo
*~
.DS_Store

# Misc
.cache
.temp
tmp
*.tgz
.changeset/*.md
!.changeset/README.md

# Database
*.db
*.sqlite
*.sqlite3
prisma/migrations/migration_lock.toml

# SBOM
sbom.json
sbom.xml
